.englishQuote{
    color: black; 
    font-family: 'Merriweather', serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 40px; 
    margin: 0 30px 40px; 
    text-shadow: 1px 1px green;
}

.author { color: black; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 15px; 
    font-weight: bold; 
    line-height: 12px; 
    letter-spacing: 3px; 
    text-shadow: #53b4a2 1px 1px; 
    text-transform: uppercase;
}

.author span { color: black; 
    font-family: 'Helvetica Neue', 
    sans-serif; 
    font-style: italic; 
    font-weight: normal; 
    letter-spacing: normal; 
    text-transform: none; 
}