
.customMenu{
    border-radius: 0rem !important;
    background-color: rgba(255,255,255,0) !important;
}

html body div.ui.card.zoom.visible.transition.login{
    left: '45%';
    position: 'fixed';
    top: '20%';
}


.ui.loginCard{
    left: '45%';
    position: 'fixed';
    top: '20%';
}